{"nbformat":4,"nbformat_minor":0,"metadata":{"colab":{"provenance":[],"authorship_tag":"ABX9TyN1w9B/jbOsoei/lQnKpVsK"},"kernelspec":{"name":"python3","display_name":"Python 3"},"language_info":{"name":"python"}},"cells":[{"cell_type":"code","execution_count":null,"metadata":{"id":"janMHu3uls8W"},"outputs":[],"source":["fastapi\n","uvicorn\n","tensorflow-cpu\n","numpy\n","pillow\n","python-multipart\n","gdown"]}]}